body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100%;


}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button.styles_scroll-to-top__2A70v {
  background-image: linear-gradient(130deg,#37948f,#11394b);
  color: white !important;
  width: 35px;
  height: 60px;
  stroke-width: 0;
  border-radius: 100px;
}

button.styles_scroll-to-top__2A70v:hover {
  background-image: linear-gradient(130deg,#286c86,#29a07c);
}

